/TicTacToeConsole/TicTacToe/obj
/TicTacToeConsole/TicTacToe/bin
/TicTacToeConsole/TicTacToeConsole/bin
/TicTacToeConsole/TicTacToeConsole/obj
/TicTacToeConsole/TicTacToeWpf/bin
/TicTacToeConsole/TicTacToeWpf/obj
